.header {
    text-align: center;
    padding: 0.8rem;
    background-color: rgb(179, 119, 235);
}

.header__title {
    color: #ebedf7;
    margin: 0;
    font-size: 2rem;
}

.nav-bar-list li {
    list-style: none;
}

.nav-bar-list li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
