

<div class="container">

    <div class="row">
        <div class="col-md-4 mb30">
            <div class="card">

                <div class="card-content pt20 pb20 profile-header">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="img-fluid rounded-circle">
                    <h4 class="card-title text-center mb20">Debora Orsolon</h4>
                    <p>
                        Front End Developer
                    </p>
                    
                    <hr>
                    <div class="row">
                        <div class="col-md-4 mb20">
                            <h5>947</h5>
                            <h6 class="text-small text-muted">Seguidores</h6>
                        </div>
                        <div class="col-md-4 mb20">
                            <h5>583</h5>
                            <h6 class="text-small text-muted">Seguindo</h6>
                        </div>
                        <div class="col-md-4 mb20">
                            <h5>48</h5>
                            <h6 class="text-small text-muted">Posts</h6>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn follow" type="button">Seguir</button>
                      </div>
                    
                    <hr>
                    
                </div>
            </div>
        </div>


        <div class="col-md-8 mb30">
            <div class="card publicacoes">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav tabs-admin" role="tablist">
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="#t1" aria-controls="t1" role="tab" data-toggle="tab">Publicações</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content admin-tab-content pt30" *ngFor="let postagem of postagens">
                        <div role="tabpanel" class="tab-pane active show">
                            <ul class="activity-list list-unstyled">
                                <li class="clearfix">
                                    <div class="float-left">
                                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="img-fluid rounded-circle"></a>
                                    </div>
                                    <div class="act-content">
                                        <span class="text-small">11 Min Ago</span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
                                        </p>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="img-fluid img-thumbnail">
                                    </div>
                                </li>                              
                            </ul>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>