<div class="container mt-5">

    <div class="row">
        <div class="col-md-4 mb30">
            <img [src]="usuario.fotoCapa" alt="" class="img-fluid">
            
            <div class="card text-center">
                <div class="card-content pt20 pb20 profile-header">
                    <img  [src]="usuario.fotoPerfil" alt="" class="img-fluid rounded-circle">
                    <h1 class="card-title text-center mb20">{{ usuario.nome }}</h1>
                    <p>
                        {{ usuario.cargo }}
                    </p>
                    <p>
                        {{ usuario.email }}
                    </p>
                    <p>
                        {{ usuario.dataNascimento | date: 'dd-MM-yy' }}
                    </p>
                    <p>
                        {{ usuario.cidade }}
                    </p>

                    <hr>
                    <div class="row">
                        <div class="col-md-4 mb20">
                            <h5>5</h5>
                            <h6 class="text-small text-muted">Seguidores</h6>
                        </div>
                        <div class="col-md-4 mb20">
                            <h5>3</h5>
                            <h6 class="text-small text-muted">Seguindo</h6>
                        </div>
                        <div class="col-md-4 mb20">
                            <h5>1</h5>
                            <h6 class="text-small text-muted">Posts</h6>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button *ngIf="this.exibirSeguir" (click) = "this.alternar()" class="btn follow" type="button">Seguir</button>
                        <button *ngIf="!this.exibirSeguir" (click) = "this.alternar()" class="btn follow" type="button">Seguindo</button>
                      </div>

                    <hr>

                </div>
            </div>
        </div>


        <div class="col-md-8 mb30">
            <div class="card publicacoes">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav tabs-admin" role="tablist">
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="#t1" aria-controls="t1" role="tab" data-toggle="tab">Publicações</a></li>
                    </ul>

                    <!-- Tab panes -->


                    <div   *ngFor="let postagem of postagens" class="tab-content admin-tab-content pt30" >
                        <div role="tabpanel" class="tab-pane active show">
                            <ul class="activity-list list-unstyled">
                                <li class="clearfix">
                                    <div class="float-left">
                                        <a href="#"><img [src]="usuario.fotoPerfil" alt="" class="img-fluid rounded-circle"></a>
                                    </div>
                                    <div class="act-content">
                                        <p class="m-0"><b> {{ usuario.nome }} </b></p>
                                        <span class="text-small">{{ postagem.dataPostagem | date: 'dd-MM-yy' }}</span>
                                        <p>
                                            {{ postagem.texto }}
                                        </p>
                                        <img [src]="postagem.fotoPost" alt="" class="img-fluid img-thumbnail">
                                    </div>
                                </li>                              
                            </ul>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 